.contents {
  /** Prevents fixed-top navbar from overlapping site contents. */
  padding-top: 50px;
}

a:hover {
  /** Disables Bootstrap's default underline-on-hover behavior. */
  text-decoration:none !important;
}
