.blog {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.blog h1,
.blog h2 {
	font-size: 1.75rem;
}

.blog section,
.blog>article {
	padding: 1rem 1rem 1.5rem;
}

.blog time {
	display: block;
	margin-bottom: 1rem;
}

.blog p {
	line-height: 1.6;
	margin-bottom: 1rem;
}

.blog a {
	text-decoration: underline;
}

.blog amp-img {
	margin-bottom: 1.5rem;
}

.blog>article div {
	margin-bottom: 0;
}

.blog article div {
	margin-bottom: 1.5rem;
}

.blog aside {
	position: -webkit-sticky;
	position: sticky;
	top: 5rem;
	padding: 3rem 2rem 0;
	width: 33.33333%;
}

.blog aside h1 {
	padding-bottom: 1rem;
	font-size: 1.125rem;
	border: none;
	margin: 0;
	padding: 0 0 16px;
}

.blog aside h3 {
	font-size: .94rem;
	padding-top: 1.5rem;
}

.blog aside p {
	line-height: normal;
}

.blog aside ul {
	-webkit-box-pack: initial;
	-webkit-justify-content: initial;
	-ms-flex-pack: initial;
	justify-content: initial;
	display: inline-block;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 2rem;
	list-style: none;
	padding-left: 0;
}

.blog aside li {
	display: inline-block;
	margin-right: 0;
}

.blog aside li a {
	display: inline-block;
	margin-left: -.5rem;
	padding: .5rem;
}

.blog .button {
	text-decoration: none;
	margin-top: 2rem;
}

.blog blockquote {
	font-size: 2.2rem;
	margin: 1.5rem 0 1rem;
	line-height: 1.2;
	border-left: none;
	padding-left: 0;
}

.blog .quote-author {
	font-family: Open Sans Condensed,sans-serif;
	margin-bottom: 1.5rem;
	font-size: 1rem;
	font-weight: 700;
}

.blog .article-space {
	margin-bottom: 2.5rem;
}

@media (min-width: 52.06rem) {

.blog h1 {
	margin-top: 1.5rem;
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #f3f3f3;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-bottom: 2rem;
}

.blog section {
	padding: .5rem 2rem 1.5rem;
	width: 66.66667%;
}

.blog section a {
	display: inline-block;
	margin-bottom: 2rem;
}

.blog article div {
	margin-right: 0;
	margin-left: 0;
}

}

