.cart {
	display: block;
	max-width: 1280px;
	margin: 0 auto;
	padding-bottom: 1.5rem;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.cart .related-products {
	border-top: none;
}

.cart .cart-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.checkout .cart-wrapper {
	margin-top: 1rem;
	padding: 0 1rem;
}

.cart-products-area {
	width: 100%;
	padding: 1rem 0 1.5rem;
}

.cart-products-area h3 {
	margin: 0 1rem 1rem;
}

.cart-product {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 1rem 1rem;
}

.cart-image-container {
	width: 25%;
}

.cart-product-left {
	width: 50%;
	padding: 0 .5rem;
}

.cart-product-left h6 {
	font-size: 1rem;
	margin-bottom: .5rem;
}

.cart-product-right {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	font-size: 1rem;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	width: 25%;
	margin-bottom: 0.5rem;
}

.cart-remove-icon {
	color: #f88;
	cursor: pointer;
}

.cart-sum-area {
	width: 100%;
	padding: 1.5rem 1rem 2rem;
}

.cart-sum-area h5 {
	font-size: 1.125rem;
}

.cart-sum-area dl {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.cart-sum-area dt {
	width: 83.3333%;
}

.cart-sum-area dd {
	width: 16.6667%;
	margin: 0;
	padding-bottom: 0.5rem;
	text-align: right;
}

.cart-sum-area p {
	padding-bottom: 1.5rem;
}

.cart-sum-area .total {
	margin: 1.5rem 0 1rem;
	padding: 1rem 0;
	font-weight: 700;
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #f3f3f3;
}

.cart-actions {
	text-align: center;
	padding-bottom: 4.5rem;
}

.cart-actions div {
	display: inline-block;
}

.cart-actions div:first-child {
	margin: 0 2rem 1rem 0;
}

.cart-continue {
	margin: 6rem 1rem;
}

footer {
	position: fixed;
	z-index: 1;
	bottom: 0;
	-webkit-transform: translateY(370px);
	-ms-transform: translateY(370px);
	transform: translateY(370px);
	-webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
	-o-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
	transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
	width: 100%;
}

footer.expanded {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

@media (min-width: 40.06rem) {

.cart-image-container {
	width: 16.66667%;
}

.cart-product-left {
	width: 58.3333%;
}

}

@media (min-width: 52.06rem) {

.cart {
	margin-bottom: 1.5rem;
	padding-bottom: 5rem;
}

.cart div[role="listitem"] {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.cart .cart-product {
	margin-left: 2rem;
}

.cart-products-area {
	padding: 2rem 0 5rem;
	width: 66.66667%;
}

.cart-products-area h3 {
	margin: 0 2rem 1rem 2rem;
}

.cart-product {
	border-bottom: solid 1px #f3f3f3;
	margin: 1.5rem 2rem 1rem 0;
	padding-bottom: 1.5rem;
}

.cart-image-container amp-img {
	max-width: 100px;
}

.cart-product-right {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.cart-sum-area {
	width: 33.3333%;
	padding: 2rem 1.5rem;
}

.cart-sum-area h5 {
	margin-top: 1.5rem;
}

.cart-actions {
	text-align: left;
	padding-bottom: 190px;
}

.cart-actions a {
	display: inline-block;
}

.cart-continue {
	margin-left: 2rem;
}

footer {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

}

