.checkout {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.checkout h3,
.checkout p {
	margin-bottom: 1rem;
}

.checkout section {
	padding: 1rem 1rem 2.5rem;
}

.checkout .code {
	font-size: 2.2rem;
	margin-bottom: 1.5rem;
}

.checkout-steps {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	color: #cdcccd;
	font-size: .94rem;
	padding: 1rem;
}

.checkout-area {
	width: 100%;
	padding: 1rem 0 1.5rem;
}

.checkout-area h3 {
	padding: 0 1rem;
	margin-bottom: 1rem;
}

.checkout-area hr {
	margin: 1rem 1.5rem .5rem 1rem;
}

.checkout-step-area {
	padding: 0 1rem;
}

.checkout-step-area h5 {
	margin-bottom: 1rem;
}

.userinfo-fields {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 -1rem;
	width: 50%;
	padding: 0 1rem;
}

.userinfo-fields input {
	padding: 0;
	font-size: .94rem;
	font-family: Open Sans Condensed,sans-serif;
	color: #222;
	font-weight: 700;
	text-transform: uppercase;
}

.userinfo-fields label {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.userinfo-fields .input-container {
	position: relative;
	display: inline-block;
	margin-bottom: 1.5rem;
}

.contact .userinfo-fields {
	width: 100%;
	padding: 0;
}

.delivery-area {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
	padding: 0 1rem;
}

.delivery-area h5 {
	width: 100%;
	margin: 1rem 0;
}

.radio-buttons {
	width: 100%;
}

@media (min-width: 52.06rem) {

.checkout-steps {
	max-width: 350px;
	border: none;
	margin-left: 1rem;
	padding: 1rem 0;
}

.checkout-area {
	width: 66.66667%;
	padding: 2rem 2rem 5rem;
}

.checkout-step-area {
	margin-top: 1.5rem;
}

.delivery-area {
	padding: 1.5rem 1rem;
}

.checkout-actions {
	text-align: initial;
	margin-top: 1.5rem;
}

}

