.landing {
	max-width: none;
}

.hero-wrapper {
	overflow: hidden;
	text-align: center;
}

.hero-wrapper amp-img loading {
	margin-top: 200px;
}

.amp-mode-mouse .hero-wrapper amp-img {
	-webkit-transition: -webkit-transform 1s;
	transition: -webkit-transform 1s;
	-o-transition: transform 1s;
	transition: transform 1s;
	transition: transform 1s, -webkit-transform 1s;
}

.amp-mode-mouse .hero-wrapper:hover amp-img {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

.hero-content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 3rem 1.5rem;
}

.hero-content h2 {
	font-size: 1.38rem;
	font-weight: 700;
}

.hero-content p {
	padding: 1rem 1rem 1.5rem;
	font-family: Cardo,serif;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

@media (min-width: 52.06rem) {

.hero-wrapper {
	position: relative;
	text-align: left;
	color: #fff;
}

.hero-wrapper .button {
	margin-left: 2rem;
	background-color: #fff;
	border: none;
	color: #222;
	font-size: .94rem;
}

.hero-content {
	position: absolute;
	margin: 0 auto;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0;
}

.hero-content h2 {
	color: #fff;
	font-size: 3.5rem;
	padding-left: 2rem;
	margin-bottom: 1rem;
	max-width: 500px;
	background: #00000066;
}

.hero-content p {
	font-size: 1rem;
	margin-bottom: 2rem;
	margin-left: 0;
	padding-left: 2rem;
	background: #00000066;
}

.hero-align {
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
}

.hero-content-theme-secondary,
.hero-content-theme-secondary h2 {
	color: #222;
}

.button.button-lg-black {
	color: #fff;
	background-color: #222;
}

.amp-mode-mouse .hero-content-theme-secondary .button:hover {
	background-color: #fff;
	color: #222;
}

}

