.details-content {
	padding-bottom: 2rem;
}

.product-container {
	width: 100%;
	text-align: center;
	padding: 1rem 1rem 0 1rem;
	margin-bottom: 2rem;
}

.product-carousel {
	width: 100%;
	padding: 1rem 1rem 0;
}

.product-carousel amp-selector ul {
	display: inline-block;
	margin: 1em 0;
	width: 100%;
	text-align: center;
}

.product-carousel amp-selector li {
	display: inline-block;
	margin-left: .5rem;
	width: 43px;
}

.product-carousel amp-selector li:first-child {
	margin-left: 0;
}

.single-product {
	width: 100%;
	padding: 1rem 1rem 0;
}

.single-product amp-img img {
	-o-object-fit: contain;
	object-fit: contain;
}

.parameters-content {
	padding-right: 1rem;
	padding-left: 1rem;
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
}

.parameters-content hr {
	margin-bottom: 2rem;
}

.parameters-content hr.section-divider {
	margin: 0 -1.5rem;
}

.product-description {
	width: 100%;
	padding-bottom: 1rem;
}

.product-description h1 {
	font-size: 1.75rem;
}

.product-description .title {
	font-size: 1.38rem;
}

.product-rating {
	width: 100%;
	text-align: right;
}

.product-rating h2 {
	font-size: .94rem;
	padding-bottom: .5rem;
}

.product-headline {
	width: 100%;
	padding-bottom: 2rem;
}

.product-colors {
	width: 50%;
	padding-bottom: 2rem;
}

.product-colors span {
	font-size: 1rem;
	padding-right: 1rem;
	vertical-align: top;
	line-height: 1.1rem;
}

.product-colors li {
	display: inline-block;
	margin-right: .5rem;
}

.product-colors .title {
	padding-right: 0.2rem;
}

.product-colors .button {
	width: 30px;
	padding: 2px 6px 5px;
}

.product-colors .buttons-group {
	margin-top: 0.5rem;
}

.product-colors .buttons-group .title {
	text-align: center;
	width: 20px;
}

.product-colors .title,
.product-sizes .title {
	font-size: 1rem;
}

.product-sizes .title.select {
	color: #666;
}

.product-btn-wrapper {
	text-align: center;
	width: 100%;
	margin-bottom: 2rem;
}

.product-copy {
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
}

.product-copy h2 {
	font-size: 1.125rem;
}

.product-copy p {
	margin-bottom: 1.5rem;
	margin-top: 1rem;
}

.product-copy>section {
	padding: 1.5rem 2rem 0;
}

.product-reviews {
	padding-top: 1.5rem;
}

.product-reviews h2 {
	font-size: 1.125rem;
	margin-bottom: 1rem;
}

.product-reviews h3 {
	font-size: .94rem;
	margin-bottom: .5rem;
}

.product-reviews section {
	margin-top: 0;
	margin-bottom: 1.5rem;
}

.product-reviews p {
	margin-top: .5rem;
	margin-bottom: 0;
}

.product-size-guide {
	width: 100%;
}

.product-size-guide h2 {
	font-size: 1.125rem;
}

.product-size-guide section {
	padding: 1.5rem 1rem;
}

.product-size-guide section>div {
	margin-top: 1rem;
}

.product-size-guide thead.title {
	color: #fff;
}

.product-size-guide dt {
	width: 33.33333%;
	padding-bottom: .5rem;
}

.product-size-guide dd {
	width: 66.66667%;
	padding-bottom: .5rem;
	margin: 0;
}

#order {
	width: 100%;
}

.unavailable {
	position: relative;
	background: gray;
	overflow: hidden;
	opacity: .6;
	pointer-events: none;
	-webkit-user-select: none .unavailable;
	-moz-user-select: none .unavailable;
	-ms-user-select: none .unavailable;
	user-select: none .unavailable;
}

.unavailable :after,
.unavailable:before {
	position: absolute;
	content: '';
	background: grey;
	display: block;
	width: auto;
	height: 1px;
	min-width: 56px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	left: -11px;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border-bottom: 2px solid;
}

.unavailable:after {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.product-details .button-wrapper {
	text-align: center;
	-webkit-align-self: flex-start;
	-ms-flex-item-align: start;
	align-self: flex-start;
	width: 100%;
	margin-bottom: 2rem;
}

.product-details amp-selector {
	margin-top: .5rem;
}

.product-details amp-selector[name=size] {
	font-size: .94rem;
}

@media (min-width: 52.06rem) {

.details-content {
	padding-bottom: 5rem;
}

.product-carousel {
	width: 50%;
	padding: 2rem 0 0 5rem;
}

.product-carousel amp-selector li {
	width: 80px;
}

.single-product {
	width: 50%;
	padding: 2rem 0 0 5rem;
}

.parameters-content {
	width: 50%;
	padding-top: 2rem;
	padding-right: 5rem;
	padding-left: 2.5rem;
}

.parameters-content hr {
	width: 100%;
}

.parameters-content hr.section-divider {
	display: none;
}

.product-description h1 {
	font-size: 2.2rem;
}

.product-description .title {
	font-size: 1.75rem;
}

.product-colors .title,
.product-sizes .title {
	font-size: 0.94rem;
}

.product-btn-wrapper {
	text-align: initial;
}

.product-copy {
	margin-right: 8.33333%;
	padding-left: 5rem;
	padding-right: 1rem;
	width: 50%;
}

.product-copy h2 {
	font-size: 1.38rem;
}

.product-copy>section {
	padding-top: 3rem;
}

.product-reviews {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.product-reviews h2 {
	font-size: 1.38rem;
}

.product-size-guide {
	padding-right: 5rem;
	padding-left: 2.5rem;
	width: 41.66667%;
}

.product-size-guide h2 {
	font-size: 1.38rem;
}

.product-size-guide section:first-child {
	padding-top: 3rem;
	padding-bottom: 2rem;
}

.info-content hr.section-divider {
	display: block;
	margin-top: 2rem;
}

}

