@import 'mixins';

.contact {
	section {
		padding: 1rem 1rem 2.5rem;

		@include desktop {
			width: 50%;
			padding: 2rem 2rem 5rem;
		}
	}

	h1 {
		font-size: 1.75rem;
		margin-bottom: 1rem;
	}

	p {
		margin-bottom: 1rem;
	}

	hr {
		margin: 1.5rem 0;
	}

	input {
		margin-top: 1.5rem;
		border-bottom-width: 100%;
		border-bottom: 1px dashed #f3f3f3;
		width: 100%;
		line-height: 1.5rem;
		border: 0;
		border-radius: 0;
		background: none;
		outline: 0;
		color: #000;
	}

	textarea {
		padding: 0;
		display: block;
	}

	label {
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		top: 0;
		color: #222;
		pointer-events: none;
		text-align: left;
		font-size: 1.125rem;
		line-height: 1rem;
		opacity: 0;
		animation: .2s;
		animation-timing-function: cubic-bezier(.4,0,.2,1);
		animation-fill-mode: forwards;

		&.title {
			opacity: 1;
			font-size: .94rem;

			&:after {
				content: none;
			}
		}
	}

	.input-container {
		display: inline-block;
		position: relative;
		padding: 0;
		margin: 0 0 1.5rem;

		&.last-input {
			margin-top: 1.5rem;
			margin-bottom: 2.5rem;
		}
	}
}