<!doctype html>
<html ⚡>
  <head>
    <meta charset="utf-8">
    <title>AMP Times</title>
    <link rel="canonical" href="index.html" >
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <%> styles %>
    <style>body {opacity: 0}</style><noscript><style>body {opacity: 1}</style></noscript>
      <script async src="https://cdn.ampproject.org/v0.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,600' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="main-body">
      <header>
        <div class="brand-logo">
          ⚡ AMP Times
        </div>  
      </header>
      <main role="main">
      <h1>First-Click-Free Test Links</h1>    
      <ul>
        <%#articles%>
        <li><a href="<% id %>"><% title %></a></li>
        <%/articles%>
      </ul>
      <section class="help-section">
        This is a test page for <a href="https://support.google.com/news/publisher/answer/40543?hl=en-GB">First-Click-Free</a>. All links opened from this page will be treated 
        as a First-Click-Free referral (the limit is 3).
      </section>
      </main>
      </div>
  </body>
</html>
