<!doctype html>
<html ⚡>
<head>
  <meta charset="utf-8">
  <title>Lorem Ipsum | PublisherName</title>
  <link rel="canonical" href="<% id %>" >
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <script id="amp-access" type="application/json">
    {
      "authorization": "<% host %>/amp-authorization.json?rid=READER_ID&url=CANONICAL_URL&_=RANDOM",
      "pingback": "<% host %>/amp-pingback?rid=READER_ID&url=CANONICAL_URL",
      "login": "<% host %>/login?rid=READER_ID&url=CANONICAL_URL"
    }
  </script>
  <link href='https://fonts.googleapis.com/css?family=Georgia|Open+Sans|Roboto' rel='stylesheet' type='text/css'>
  <style amp-custom>
    body {
      margin: 0;
      font-family: 'Georgia', Serif;
    }

    .brand-logo {
      font-family: 'Open Sans';
    }    

    .content-container p {
      line-height: 24px;
    }

    .article-body {
      padding: 15px;
    }

    .full-bleed {
      margin: 0 -15px;
    }

    h1 {
      margin: 5px 0;
      font-weight: normal;
    }

    hr {
      margin: 0;
    }

    .login-section {
      margin: 16px;
      margin-top: 24px;
      padding: 16px;
      background: #ffc;
    }

    .meter-section {
      margin: 16px;
      margin-top: 24px;
      padding: 16px;
      background: #ffa;
    }

    footer {
      background: #f4f4f4;
    }

    footer ul {
      list-style-type: none;
      overflow: hidden;
    }

    footer li {
      float: left;
    }

    footer li a {
      display: inline-block;
      text-align: center;
      padding: 14px 16px;
    }
  </style>

  <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
  <script async custom-element="amp-access" src="https://cdn.ampproject.org/v0/amp-access-0.1.js"></script>
  <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js"></script>
  <script async custom-element="amp-instagram" src="https://cdn.ampproject.org/v0/amp-instagram-0.1.js"></script>
  <style>body {opacity: 0}</style><noscript><style>body {opacity: 1}</style></noscript>
  <script async src="https://cdn.ampproject.org/v0.js"></script>

</head>
<body>
  <header>
    <div class="brand-logo">
      PublisherLogo
    </div>  
  </header>
  <main role="main">
    <article class='article-body'>
        <h1><% title %></h1>    

        <!-- 
          This section shows the number of article the user has left. It's only shown if the
          user she's allowd to see the content and is not a subscriver 
         -->
        <section amp-access="access AND NOT subscriber" amp-access-hide class="meter-section">
          <template amp-access-template type="amp-mustache">
            You are viewing article {{views}} of {{maxViews}} free articles this month!
          </template>
        </section>

        <!--
          The following is a snippet of the article. Users always see this part.
        -->  
        <section>
          <amp-img
              src="img/hero@1x.jpg"
              srcset="img/hero@1x.jpg 1x, img/hero@2x.jpg 2x"
              layout="responsive" width="360" placeholder
              alt="Curabitur convallis, urna quis pulvinar feugiat, purus diam posuere turpis, sit amet tincidunt purus justo et mi."
              height="216" on="tap:headline-img-lightbox">
          </amp-img>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent congue arcu non interdum varius. Vestibulum quis quam eget massa condimentum feugiat. Nullam eu efficitur nulla. Sed egestas sagittis lacus. Integer efficitur placerat urna, at euismod justo molestie in. In ullamcorper leo sit amet erat vehicula varius. Cras venenatis suscipit mollis. Suspendisse non ipsum finibus, blandit nibh vitae, vestibulum eros. In at placerat massa. Vestibulum maximus sagittis eros quis lacinia. Suspendisse elementum, nibh tempor gravida pretium, quam neque ornare ante, in elementum tellus lacus vel arcu.
          </p>
        </section>

        <!--
          This segment will only be shown to users to do not have access to the article, because
          they reached the maximum number of articles for that month.
        -->
        <section amp-access="NOT access" amp-access-hide class="login-section">
          <template amp-access-template type="amp-mustache">
            You have reached your {{maxViews}} free articles this month!
          </template>
          <a on="tap:amp-access.login">Login to read more!</a>
        </section>

        <!--
          This section will be shown to users who have access to the article. Either because it follows
          First Click Free rules, the user is a subscriber of hasn't reached the maximum number of free articles.
        -->
        <div amp-access="access" >
          <figure>
            <amp-img class="full-bleed" placeholder
                src="img/sea@1x.jpg"
                srcset="img/sea@1x.jpg 1x, img/sea@2x.jpg 2x"
                layout="responsive" width="360"
                alt="Fusce pretium tempor justo, vitae consequat dolor maximus eget."
                height="216">
            </amp-img>
            <figcaption>
              Fusce pretium tempor justo, vitae consequat dolor maximus eget.
            </figcaption>
          </figure>
          <p>
            Sed bibendum urna ac turpis placerat, eu pellentesque massa congue. Aliquam porta, dui eget cursus aliquam, est orci consequat ex, vel auctor justo leo nec dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla pellentesque eu nisi et dictum. Praesent viverra scelerisque libero et pretium. Sed accumsan quis lectus id ornare. Cras venenatis odio tellus, sed pretium dolor fermentum vel. Praesent luctus sem at sapien elementum, eu congue ipsum cursus. Etiam bibendum sapien nec dui maximus, et bibendum est fermentum. Duis vel sollicitudin libero, non eleifend enim. Nunc malesuada lectus sit amet justo mollis egestas. Duis sed egestas nisi, vulputate volutpat augue. Vivamus tincidunt ultricies neque, ut dapibus mauris pretium id. Ut nisi mauris, sollicitudin et egestas vel, laoreet ut mi. In at tincidunt turpis, a volutpat massa. Cras bibendum lorem sit amet est feugiat finibus.
          </p>
          <amp-instagram
              data-shortcode="8aiD5Kj6NV"
              width="100"
              height="100"
              layout="responsive">
          </amp-instagram>                  
          <p>
            Sed nec pretium sem. Cras eget nisi nec nisi vestibulum semper. Praesent sagittis dui sed lacus aliquet, quis posuere justo condimentum. Sed eleifend vitae lorem porttitor feugiat. In non ipsum leo. Mauris lectus urna, volutpat vel condimentum eu, cursus eget urna. Quisque scelerisque aliquet velit, feugiat lobortis lacus laoreet egestas. Nunc vel lorem ligula. Ut pretium interdum dictum. Aenean sollicitudin dui tellus, id tempus nisl consequat ac. Vestibulum ultrices justo non fermentum lobortis.
          </p>
          <p>

        </p>
      </div>
    </article>
  </main>
    <footer>
      <ul>
        <%#prev%>
        <li><a href="/<% prev %>">Previous</a></li>
        <%/prev%>        
        <li><a href="/">Home</a></li>
        <%#next%>        
        <li><a href="/<% next %>">Next</a></li>
        <%/next%>                
      </ul>
    </footer> 
</body>
</html>
