<!doctype html>
<html ⚡>
<head>
  <meta charset="utf-8">
  <title>Lorem Ipsum | PublisherName</title>
  <link rel="canonical" href="index.html" >
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Georgia|Open+Sans|Roboto' rel='stylesheet' type='text/css'>
  <style amp-custom>
    body {
      margin: 0;
      font-family: 'Georgia', Serif;
      padding: 15px;
    }

    .content-container p {
      line-height: 24px;
    }

    h1 {
      margin: 5px 0;
      font-weight: normal;
    }
  </style>

  <style>body {opacity: 0}</style><noscript><style>body {opacity: 1}</style></noscript>
  <script async src="https://cdn.ampproject.org/v0.js"></script>

</head>
<body>
  <main role="main" class="content-container">
    <h1>Articles</h1>
    <ul>
      <%#articles%>
      <li><a href="<% id %>.html"><% title %></a></li>
      <%/articles%>
    </ul>
  </main>
</body>
</html>
