<style amp-custom>

  body {
    margin: 0;
    background: #eee;
    margin: 0 auto;
    overflow-x: hidden;
  }

  .main-body {
    background: #fff;
    max-width: 600px;
    margin: 0 auto;
    overflow-x: hidden;
  }

  [data-z-depth="2"] {
    -webkit-filter: drop-shadow(0 1.8px 1.8px rgba(0, 0, 0, 0.16)) drop-shadow(0 1.8px 1.8px rgba(0, 0, 0, 0.23));
    filter: drop-shadow(0 1.8px 1.8px rgba(0, 0, 0, 0.16)) drop-shadow(0 1.8px 1.8px rgba(0, 0, 0, 0.23));
  }

  header {
    color: #fff;
  }

  .navigation {
    width: 100%;
    background: #3F51B5;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 8px;
  }

  .navigation .prev {
    float: left;
    background-image: url(/img/chevron-left.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 24px;
  }

  .navigation .next {
    float: right;
    background-image: url(/img/chevron-right.png);
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 24px;
  }

  .navigation a {
    display: inline-block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px; 
  }

  .brand-logo {
    background: #303F9F;
    padding: 8px;
    overflow: hidden;
  }

  .brand-logo a{
    color: #fff;
    text-decoration: none;
  }

  .logout {
    float: right;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 32px; 
  }

  main {
    padding: 0 16px 48px;
  }

  hr {
    margin: 0;
  }

  .meter-section {
    margin-top: 16px;
    padding: 8px;
    background: #ffa;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
  }

  .reset-section {
    margin-top: 16px;
    padding: 8px;
    background: #ffa;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
  }

  .form-line {
    margin-bottom: 8px;
  }

  .label {
    margin-bottom: 8px;
  }

  #info {
    color: orange;
    margin-top: 20px;
  }

  .button {
    display: inline-block;
    position: relative;
    padding: 8px;
    line-height: 32px;
    border-radius: 2px;
    font-size: 0.9em;
    background-color: #303F9F;
    color: #fff;
    margin: 16px 0;
  }

  .button.raised:active {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s;
  }

  .center {
    text-align: center;
  }

  .dismiss {
    color: blue;
  }
  
  .notification {
    padding: 8px;
    background: #ffa;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;    
  }
  <%> material %>
</style>
