  <style amp-custom>
    body {
      margin: 0;
      font-family: 'Georgia', Serif;
    }

    .brand-logo {
      font-family: 'Open Sans';
      background: #eee;
      margin: 0 0 8px 0;
      padding: 15px;
      overflow: hidden;
    }

    .logout {
      float: right;
      font-family: 'Open Sans';
      font-size: smaller;
      margin: 0 0 8px 0;
      text-decoration: none;
    }

    .title {
      margin: 8px 0;
      font-size: larger;
    }

    main {
      padding: 15px;
    }

    main p {
      line-height: 24px;
    }

    .full-bleed {
      margin: 0 -15px;
    }

    h1 {
      margin: 5px 0;
      font-weight: normal;
    }

    hr {
      margin: 0;
    }

    .login-section {
      margin-top: 24px;
      margin-bottom: 24px;
      padding: 16px;
      background: #ffc;
    }

    .meter-section {
      margin-top: 24px;
      margin-bottom: 24px;
      padding: 16px;
      background: #ffa;
    }

    .help-section {
      margin-top: 24px;
      padding: 16px;
      background: #c0f2ba;
    }

    footer {
      background: #f4f4f4;
    }

    footer ul {
      list-style-type: none;
      overflow: hidden;
      margin: 0px;
    }

    footer li {
      float: left;
    }

    footer li a {
      display: inline-block;
      text-align: center;
      padding: 14px 16px;
    }

    #info {
      color: orange;
      margin-top: 20px;
    }
  </style>
