    <section class="cart-sum-area side-panel">
      <h5>Order Summary</h5>
      <dl>
        <dt>Subtotal</dt>
        <dd>&#163;698</dd>
        <dt>Shipping</dt>
        <dd>&#163;30</dd>
        <dt class="total">Total</dt>
        <dd class="total">&#163;753</dd>
      </dl>
      <p>Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla.</p>

%%if (context.pageType == 'checkout') {      
      <div class="cart-actions">
        <a href="checkout.amp.html" class="button button-white">checkout</a>
      </div>
}      

    </section>