<ul class="social">
    <li>
        <a class="icon facebook" href="#" target="_blank" aria-label="Link to AMP HTML Facebook">Facebook</a>
    </li>
    <li>
        <a class="icon instagram" href="#" target="_blank" aria-label="Link to AMP HTML Instagram">Instagram</a>
    </li>
    <li>
        <amp-social-share type="twitter"
        				  width="40" height="40"
        				  data-param-url="https://camp.samples.amp.dev"
        				  data-param-text="Hey, check out this AMP e-commerce sample! It teaches you how to build a fully functional interactive site with AMP.">	
        </amp-social-share>
    </li>
</ul>