<!doctype html>
<html ⚡>
  <head>
    <meta charset="utf-8">
    <title>AMP Times</title>
    <link rel="canonical" href="index.html" >
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <%> styles %>
    <style>body {opacity: 0}</style><noscript><style>body {opacity: 1}</style></noscript>
      <script async src="https://cdn.ampproject.org/v0.js"></script>
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  </head>
  <body>
    <div class="main-body">
      <header>
        <div class="brand-logo">
          ⚡ AMP Times
        </div>  
      </header>
      <main role="main">
      <%^fcf%>
      <section class="meter-section" data-z-depth="2">
        This is an AMP Paywall demo. To run this demo:
        <ul>
          <li>For testing First-Click-Free go to the <a href="fcf">
              First-Click-Free test page</a>.</li>
          <li>To run the <b>Server</b> demos, enable the “<b>amp-access-jwt</b>” and “<b>amp-access-server</b>” 
              on the <a target="_blank" href="https://cdn.ampproject.org/experiments.html">
              AMP CDN Experiments</a> page or by using "<b>AMP.toggleExperiment</b>" function on the console.</li>
        </ul>
      </section>
      <%/fcf%>
      <%#fcf%>
      <section class="meter-section">
        This is a test page for <a href="https://support.google.com/news/publisher/answer/40543?hl=en-GB">First-Click-Free</a>. All links opened from this page will be treated as a First-Click-Free referral (the limit is 3).
      </section>
      <%/fcf%>
      <h4><% title %></h4>    
      <ul>
        <%#articles%>
        <li>
          <% title %> - [<a href="<% id %>">client</a> / <a href="server/<% id %>">server</a>]  
        </li>
        <%/articles%>
      </ul>
      </main>
    </div>
  </body>
</html>
