$name: theguardian;

.sr-backend-#{$name} {
  header {
    img.#{$name} {
      display: block;
      margin-top: 6px;
    }
  }
  .sr-backend-selector {
    img:not(.#{$name}) {
      display: block;
    }
  }
}