$name: theguardian;

@font-face{
  font-family:"Guardian Egyptian Headline";
  src:url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Light.eot');
  src:url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Light.eot?#iefix') format('embedded-opentype'),url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Light.woff') format('woff'),url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Light.ttf') format('truetype'),url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Light.svg#Guardian-Egyp-Web-Light') format('svg');
  font-weight:200;
  font-style:normal;
  font-stretch:normal;
}

@font-face{
  font-family:"Guardian Egyptian Headline";
  src:url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular.eot');
  src:url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular.eot?#iefix') format('embedded-opentype'),url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular.woff') format('woff'),url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular.ttf') format('truetype'),url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular.svg#Guardian-Egyp-Web-Regular') format('svg');
  font-weight:normal;
  font-style:normal;
  font-stretch:normal;
}
@font-face{
  font-family:"Guardian Egyptian Headline";
  src:url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular-It.eot');
  src:url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular-It.eot?#iefix') format('embedded-opentype'),url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular-It.woff') format('woff'),url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular-It.ttf') format('truetype'),url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular-It.svg#Guardian-Egyp-Web-Regular-It') format('svg');
  font-weight:normal;
  font-style:italic;
  font-stretch:normal;
}

@font-face{
  font-family:"Guardian Egyptian Headline";
  src:url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Medium.eot');src:url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Medium.eot?#iefix') format('embedded-opentype'),url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Medium.woff') format('woff'),url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Medium.ttf') format('truetype'),url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Medium.svg#Guardian-Egyp-Web-Medium') format('svg');
  font-weight:500;
  font-style:normal;
  font-stretch:normal;
}

@font-face{
  font-family:"Guardian Egyptian Headline";
  src:url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold.eot');
  src:url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold.eot?#iefix') format('embedded-opentype'),url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold.woff') format('woff'),url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold.ttf') format('truetype'),url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold.svg#Guardian-Egyp-Web-Bold') format('svg');
  font-weight:bold;
  font-style:normal;
  font-stretch:normal;
}
@font-face{
  font-family:"Guardian Egyptian Headline";
  src:url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold-It.eot');
  src:url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold-It.eot?#iefix') format('embedded-opentype'),url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold-It.woff') format('woff'),url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold-It.ttf') format('truetype'),url('//pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Bold-It.svg#Guardian-Egyp-Web-Bold-It') format('svg');
  font-weight:bold;
  font-style:italic;
  font-stretch:normal;
}

.sr-backend-#{$name} {

  header {

    align-items: flex-start;
    justify-content: flex-end;

    img.#{$name} {
      display: block;
      margin-top: 6px;
      margin-right: 6px;
    }
  }

  .sr-navigation {
    font-family:"Guardian Egyptian Headline";
    font-weight: 500;
  }

  .sr-category {
    h1 {
      font-family:"Guardian Egyptian Headline";
      color: #197caa;
      font-weight: 500;
      font-size: 22px;
      text-align: left;
    }
  }

  .sr-card {
    border-top: 1px solid #4BC6DF;
    font-family:"Guardian Egyptian Headline";
    font-weight: 500;

    &.sr-full {
      border-top: 1px solid #00558c;
    }

    .sr-inner {
      h2 {
        font-weight: 500;
      }
    }
  }



}