$name: lifehacker;
$primary-color: #94b330;

.sr-backend-#{$name} {

  body {
    background: #fff;
  }

  .sr-category {
    color: #333;
    h1 {
      border-bottom: 2px solid rgba(177, 177, 177, 0.39);
    }
  }

  .sr-backend-selector {
    background: #b1b1b1;
    img:not(.#{$name}) {
      display: block;
    }
  }

  header {
    background: linear-gradient(to bottom, #ffffff, #efefef);
    box-shadow: 0px 2px 12px rgba(169, 169, 169, 0.7);
    img.#{$name} {
      display: block;
    }
  }

  .sr-navigation {
    background: #fff;
    border-right: 1px solid #000;
    li a {
      color: #000;
    }
    li a.active {
      color: #303c09;
      background: $primary-color;
    }
  }

  .sr-hamburger {
    background-color: $primary-color;
  }

  .sr-card {
    background-color: #fff;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.42);
    &:first-child {
      background-color: #fff;
    }
  }

}