/* Article */

.article-shown main {
    max-height: 100vh;
    overflow: hidden;
}

article,
.article-skeleton-ui {
    position: absolute;
    top: var(--header-height);
    left: 0;
    right: 0;
    z-index: 2;
}

.article-skeleton-ui {
    background: #fff;
    bottom: 0;
    display: none;

    &::before {
        display: block;
        content: '';
        background: #eee;
        padding-top: 60%;
    }
}

.show-article-skeleton .article-skeleton-ui {
    display: block;
}