header {
  /* Layout */
  position: fixed;
  height: var(--header-height);
  top: 0;
  left: 0;
  right: 0;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Styling */
  background: linear-gradient(to bottom, #005689, #00558c);
  color: #fff;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.7);
  font-weight: 300;

  /* Children */
  img {
    display: none;
  }

}

.hamburger {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  bottom: -1em;
  left: 1em;
  top: auto;
  padding: 15px 15px;
  display: inline-block;

  border: 0;
  outline: none;
  border-radius: 50%;
  background-color: #4bc6df;
  box-shadow: 0 0 0 0.0625rem rgba(0,0,0,0.08);

  font: inherit;
  color: inherit;
}

.hamburger-box {
  width: 32px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 32px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: var(--animation-speed);
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.show-article-skeleton .hamburger .hamburger-inner::before,
.article-shown .hamburger .hamburger-inner::before,
.nav-shown .hamburger .hamburger-inner::before {
  transform: translate3d(-8px, 3px, 0) rotate(-45deg) scale(0.7, 1);
}

.show-article-skeleton .hamburger .hamburger-inner::after,
.article-shown .hamburger .hamburger-inner::after,
.nav-shown .hamburger .hamburger-inner::after {
  transform: translate3d(-8px, -3px, 0) rotate(45deg) scale(0.7, 1);
}

.backend-switcher {
  border: 0;
  background: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1em;
  width: 4em;
  height: 4em;
  display: flex;
  justify-content: center;

  &::before {
    content: '';
    border: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 16px solid rgba(0, 0, 0, 0.26);
  }
}

.article-shown {
  .backend-switcher {
    opacity: 0;
    pointer-events: none;
  }
}

.backend-selector {
    z-index: 1;
    display: flex;
    background: #313131;
    padding: 1em;
    padding-top: 2em;
    left: 0;
    right: 0;
    height: 3em;
    align-items: flex-end;
    justify-content: center;
    margin-top: -1.3em;
    transform: translateY(-1em);
    transition: transform var(--animation-speed) ease-out;

  img {
    margin: 0 0.5em;
    display: none;
  }
}

.backend-selector-visible {
  .backend-selector,
  .category,
  main {
    transform: translateY(var(--header-height));
  }
}

/* non-mobile styling */
@media (min-width: $mobile-breakpoint) {

  .hamburger {
    display: none;
  }

  .article-shown .hamburger {
    display: block;
  }

  header {
      padding-left: 200px;
  }
}
