/* Navigation Menu */
.navigation {
    width: 80vw;
    height: 100vh;
    max-width: 200px;
    position: fixed;
    top: var(--header-height);
    left: 0;
    transform: translateX(-100%);

    list-style: none;
    background: #0c182b;
    margin: 0;
    padding: 0;
    z-index: 2;

    li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.22);

        a {
            display: block;
            padding: 1em;
            color: white;
            font-size: 1.2em;
            text-decoration: none;
            transition: color var(--animation-speed), background var(--animation-speed);

            &:hover {
                color: #1565c0;
                background: linear-gradient(135deg, rgba(64, 117, 199, 0.1) 0%,rgba(13, 71, 161, 0.37) 100%);
            }

            &.active {
                color: #1565c0;
                background: linear-gradient(135deg, rgba(64, 117, 199, 0.1) 0%,rgba(13, 71, 161, 0.37) 100%);
            }
        }

    }

}

main,
.category,
.navigation {
    transition: transform var(--animation-speed);
}

.nav-shown .category,
.nav-shown main {
    transform: translateX(200px);
}

.nav-shown .navigation {
    transform: translateX(0);
}

/* Desktop/Tablet */
@media (min-width: $mobile-breakpoint) {

    .category,
    main {
        transform: translateX(0);
        margin-left: 200px;
    }

    .category h1 {
        font-size: 2em;
        padding-top: 0.6em;
    }

    main {
        padding: 0 1em;
    }

    .navigation {
        transform: translateX(0);
        z-index: auto;
    }

    .wrapper {
        max-width: none;
    }

    main {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr) ) ;
        grid-gap: 1em;
    }

}