.sr-navigation {
  contain: strict;
  will-change: transform;
}

.sr-category {
  contain: style;
  will-change: transform;
}

.sr-hamburger {
  contain: content;
  will-change: transform;
}

.sr-promote-layer,
.sr-promote-layer img,
.sr-promote-layer .sr-inner {
  will-change: transform;
}

.sr-card,
.sr-card img {
  contain: content;
}




