<!doctype html>
<html ⚡>
  <head>
    <meta charset="utf-8">
    <title>AMP Publisher Samples</title>
    <link rel="canonical" href="index.html" >
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <%> styles %>
    <style>body {opacity: 0}</style><noscript><style>body {opacity: 1}</style></noscript>
      <script async src="https://cdn.ampproject.org/v0.js"></script>
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  </head>
  <body>
    <div class="main-body">
      <header>
        <div class="brand-logo">
          AMP Publisher Samples
        </div>  
      </header>
      <main role="main">
      <h4>Overview</h4>
      <p>This is a collection of AMP samples.</p>
      <ul>
        <li><a href="/amp-access/sample/">AMP Access Feature Sample</a></li>
        <li><a href="/amp-access/demo/">AMP Access Washington Post Demo</a></li>
        <li><a href="/amp-user-notification/demo/">AMP User Notification Demo</a></li>
        <li><a href="/amp-analytics/demo/">AMP Analytics Demo</a></li>
      </ul>
      </main>
    </div>
  </body>
</html>
